@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Titillium Web', sans-serif;
    
}
.container {
    width:60%;
    margin: 0 auto;

}

/*Header area css code start*/
#header-area {
    background-color: #87519D;
}
.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.navbar .logo img {
    max-width: 100%;
    min-width: 80%;
    height: auto;

}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    list-style: none;
}
.main-menu li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
    padding: 3px 12px;
    border-radius: 5px;

}
.main-menu .active a {
    background-color: #653B7A;
}

.main-menu li a:hover {
    background-color: #653B7A;
}

.hero-area {
    text-align: center;
    padding: 145px 0;
}

.hero-area .page-title {
    color: white;
    width: 80%;
    margin: 0 auto 60px;
    line-height: 1.2em;
    font-size: 42px;
}


.hero-area .btn {
    display: inline-block;
    background-color: #eb7d4b;
    padding: 25px 60px;
    text-transform: uppercase;
    border-radius: 5px;
    border-bottom: 4px solid #cB6a40;
    text-decoration: none;
    color:white;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.hero-area .btn:hover {
    background-color: #cB6a40;
    border-color:#eb7d4b ;
}
/*Header area css code end*/

/*Main contents area css code start*/
/*Services area css code start*/


#services-area {
    padding: 120px 0;
    background-color: #17c2a4;
}

#services-area .services-header {
    margin-bottom: 80px;
}
#services-area .services-header .section-title {
    position: relative;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 50px;
}

#services-area .services-header .section-title::after {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%);
    content: '';
    background-color: #14a58c;
    width: 100px;
    height: 5px;
}

#services-area .services-header .section-desc {
    font-size: 18px;
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
}

#services-area .services-contents {
    display: flex;
    justify-content: space-between;
}

#services-area .services-contents .services-item {
    text-align: center;
}

#services-area .services-contents .services-item .service-logo {
    display: inline-block;
    max-width: 70%;
    height: 110px;
    margin-bottom: 40px;
}

#services-area .services-contents .services-item .services-name {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

#services-area .services-contents .services-item .service-desc {
    color: white;
    font-size: 16px;
    width: 70%;
    margin: auto;
}

/*Services area css code end*/
/*team area css code start*/

#team-area {
    background-color: #e7f1f8;
    padding: 120px 0;

}
#team-area .team-header {
    margin-bottom: 80px;
}
#team-area .team-header .section-title {
    position: relative;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #3c4761;
    margin-bottom: 50px;
}

#team-area .team-header .section-title::after {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%);
    content: '';
    background-color: #c8d9e5;
    width: 100px;
    height: 5px;
}

#team-area .team-header .section-desc {
    font-size: 18px;
    color: #687285;
    text-align: center;
    width: 60%;
    margin: auto;
}

#team-area .team-contents {
    display: flex;
    justify-content: space-between;
}

#team-area .team-contents .team-item {
    text-align: center;
}

#team-area .team-contents .team-item .team-member {
    display: inline-block;
    max-width: 70%;
    height: 110px;
    margin-bottom: 40px;
    border-radius: 50%;

}

#team-area .team-contents .team-item h3 {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    color: #27283D;
    margin-bottom: 20px;
}

#team-area .team-contents .team-item .team-desc {
    color: #8892a3;
    font-size: 16px;
    width: 70%;
    margin: auto;
}

#team-area .team-contents .team-item nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
} 
/*team area css code end*/







/*Main contents area css code end*/